body{
	font-family: Lucida, Arial, sans-serif;
	background-color: lightblue;
}

header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding-left: 0.5em;
	color: white;
	background-color: darkblue;
}

aside{
	float: right;
	padding: 0.2em;
	border: 2px solid darkblue;
	background-color: white;
}

#gameScreen{
	margin-top: 6em;
	width: 70%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
}

#timeLeft{
	font-size: 200%;
	font-weight: bold;
	margin-left: 2em;
}

img{
	margin-left: 2em;
	max-width: 100%;
	height: auto;
	background-image: url('img/clock.jpg');
}

#letters{
	margin: auto;
}

#letters li{
	display: inline-block;
	font-weight: bold;
	border: 1px solid black;
	padding: 0.7em;
	margin: 0.2em;
	color: white;
	font-size: 150%;
	background-color: darkblue;
}

#vowel, #consonant, #startAgain{
	background-color: darkblue;
	color: white;
	font-size: 200%;
}

#vowel{
	margin-left: 2em;
}

#consonant{
	margin-left: 2em;
}

#playerWord{
	font-size: 200%;
}
